@import "./lib/base"
@import "./lib/pm"
@import "./lib/color"
@import "./lib/box"
@import "./lib/fz"
@import "./lib/br"
@import "./lib/wh"
@import "./lib/position"


/**********盒子布局模型*/
box()

/**********内外边距快速预设*/
pm()

/**********背景颜色和字体颜色快速预设*/
co()

/**********文本相关样式快速预设*/
fz()

/**********边框相关快速预设*/
br()

/**********文宽高相关样式快速预设*/
wh()

/**********定位相关样式快速预设*/
po()
