
ali(ty)
    -webkit-align-items:ty
    align-items:ty 
jus(ty)
    -webkit-justify-content:ty
    justify-content:ty

$fle=1,2,3,4,5,6
flex(fl=$fle)
    for f in fl
        .box-f{f}
            /*占的份数*/
            position:relative;
            -webkit-flex:f;
            flex:f;
box()
    .box
        /*盒子模型*/
        /*默认横排*/
        display:-webkit-flex!important
        display:flex !important
        position:relative

    .box-col
        /*竖排*/
        -webkit-flex-direction:column
        flex-direction:column

    .box-wp
        /*超出换行*/
        -webkit-flex-wrap:wrap
        flex-wrap:wrap

    .box-ac
        /*垂直居中对齐 */
        ali(center)

    .box-ae
        /*垂直下对齐 */
        ali(end)

    .box-jc
        /*居中对齐 */
        jus(center)

    .box-je
        /*右对齐 */
        jus(flex-end)

    .box-jsb
        /*左右对齐 */
        jus(space-between)

    .box-jsa
        /*左右居中对齐*/
        jus(space-around)
    flex()


