$colors=(m $mColor) (s $sColor) (er $erColor) (b $blue) (y $yellow) (g $green) (f #fff) (mbg $mbg)
$firstField=(co color) (ba background)
$ccs = (1 #111) (3 #333) (5 #535353) (6 #666) (7 #777) (9 #999) (a #aaa) (d #ddd) (e #eee) (e1 #e1e2e9) (f9 #f9f9f9) (f6 #f6f6f6) (f3 #f3f3f3) (f1 #f1f1f1)  (fa #fafafa) 
 
colors(ct=$colors,ffs=$firstField)
    for fs in ffs
        for c in ct
            .{fs[0]}-{c[0]}
                {fs[1]}:c[1] !important

co()
    colors() 
    colors($ccs) 
    .cli-m{background-image: -webkit-linear-gradient(3deg,#2667ec,#19acee);-webkit-background-clip: text;color: transparent;}/* 文字主渐变颜色 */
    .cli-s{background-image: -webkit-linear-gradient(3deg,#ecad08,#fd600a);-webkit-background-clip: text;color: transparent;}/* 文字辅渐变颜色 */
    .cli-g{background-image: -webkit-linear-gradient(3deg,#11998e,#38ef7d);-webkit-background-clip: text;color: transparent;}/* 文字辅渐变颜色 */
    .bli-m{ background:linear-gradient(3deg,#2667ec,#19acee)  !important;}/* 背景主渐变颜色 */
    .bli-md{ background:linear-gradient(3deg,#1951c0,#0c7caf)  !important;}/* 背景辅渐变颜色 */
    .bli-s{ background:linear-gradient(3deg,#ecad08,#fd600a)  !important;}/* 背景辅渐变颜色 */
    .bli-g{ background:linear-gradient(33deg,#11998e,#25d66f)  !important;}/* 背景辅渐变颜色 */

 
         