$fzs=8,9,10,12,14,16,18,20,22,24,26,28,30,40,50,60
foz(size=$fzs)
    for sz in size
        .fz{sz}
            font-size: isrem(sz)!important

fz()
    foz()
    .fw
        font-weight: bold!important    
    .fw-n
        font-weight: normal!important
    /*单行文字超出显示...*/
    .dian3
        overflow:hidden
        text-overflow:ellipsis
        white-space:nowrap
    
    /*行块级变化*/
    .block
        display: block
    .none
        display: none
    .inblock
        display: inline-block

    /*内边距和边框算在宽高里*/
    .bs-bb
        box-sizing: border-box
    
    /*手指鼠标*/
    .cu-p
        cursor: pointer

    /*去除A标签下横线*/
    .ounl
        outline: none !important

    /*文字对齐*/
    .tl
        text-align: left
    .tc
        text-align: center
    .tr
        text-align: right

    /*浮动模型*/
    .fl
        float:left !important
    .fr
        float:right !important
    .clear:before
    .clear:after
        content: " "
        display: table
    .clear:after 
        clear: both
    
    /* 旋转 */
    .tr180{ transform: rotateZ(180deg)}
    .tr90{ transform: rotateZ(90deg)}

    /* 投影 */
    .shadow-ll{ box-shadow: 0 3px 10px rgba(100,100,100,0.1);}
    .shadow-l{ box-shadow: 0 3px 10px rgba(0,0,0,0.1);}
    .shadow-d{ box-shadow: 0 3px 10px rgba(0,0,0,0.3);}

    /* 高斯 */
    .blur0{ filter:blur(0)}
    .blur1{ filter:blur(1px)}
    .blur5{ filter:blur(5px)}
    .blur10{ filter:blur(10px)}